body {
    margin: 0
}

* {
    box-sizing: border-box;
}

.main {
    position: fixed;
    width: calc(100% - 300px);
    height: 100%;
    background-color: #ffffff;
    top: 60px;
    left: 18.75em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    z-index: 99;
    display:none;
    animation:fadeIn linear 0.2; 
}

.navbar-bottom-icon {
    position: relative;
    width: 30px;
    height: 30px;
    color: #2e2c2c;
    top: 1em;
    left: 4em;
    display: none;
}

.header-noti {
    position: absolute;
    width: 18px;
    height: 18px;
    color: #2e2c2c;   
    top: 0.5em;
    left: 0.7em;
    display: none;
}

.header-chatbot {
    position: absolute;
    width: 24px;
    height: 24px;
    color: #2e2c2c;   
    top: 0.5em;
    left: 0.5em;
    display: none;
}

.sidebar-close {
    position: absolute;
    width: 20px;
    height: 20px;
    color: #2e2c2c;   
    top: 1em;
    right: 0.6em;
}

.navbar-status-home {
    position: relative;
    top: 0;
    left: 5px;
    width: 160px;
    height: 2px;
    background-color: #2261df;
    display: none;
}

.navbar-status-search {
    position: relative;
    top: 0;
    left: 5px;
    width: 160px;
    height: 2px;
    background-color: #2261df;
    display: none;
}

.navbar-status-menu {
    position: relative;
    top: 0;
    left: 5px;
    width: 160px;
    height: 2px;
    background-color: #2261df;
    display: none;

}

.sidebar__list {
    margin-top: 24px;
}

.sidebar__link {
    text-decoration :none;
    color: #333;
    display: block;
    padding: 8px 0;
    font: size 1.3em;
}

.menu-checkbox {
    display:none;
}

/* //////////////////////////////////////////////////////////////////////// For PC /////////////////////////////////////////////////////////////////////////////////// */


/* ////////////////////////////////// header ////////////////////////////////// */
.header-nav {
    position: fixed;
    background-color:#e6e5e5;
    top: 0;
    left: 300px;
    height: 60px;
    width: calc(100% - 300px);
}

.user-box {
    position: fixed;
    width: 150px;
    height: 40px;
    background-color: pink;
    right:20px;

}

.notification-box {
    position :fixed;
    width: 40px;
    height:40px;
    background-color:orange;
    right: 200px;
    
}

.chatbot-box {
    position :fixed;
    width: 40px;
    height:40px;
    background-color:orange;
    right: 270px;
    
}



/* /////////////////////////////////////////////////////////////////////////////////// */


/* ///////////////////////////////// sidebar //////////////////////////////////// */

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 18.75em;
    background-color: #353a44 ;
    display: block;
}

.brand {
    position: absolute;
    width: 200px;
    height: 60px;
    top: 0;
    left: 0;
    background-color:#0441bd;
    color: #fff;
    z-index: 999;
}

.navbar-bottom {
    position: fixed;
    bottom: 0px;
    left: 0;
    height: 5em;
    width: 100%;
    background-color: #f5f5f5 ;
    display: none;
}

.sidebar-content {
    position: absolute;
    top: 60px;
    left: 0;
}


/* //////////////////////////////////////////////////////////////////////////////////// */


/* ///////////////////////////////// main //////////////////////////////////// */


.case-overview1 {
    height: 7.5em;
}

.case-overview2 {
    height: 7.5em;
}

.case-overview-section {
    height: 7.5em;
    background-color:blue;
}

.content1 {
    height: 56em;
    background-color:red;
    display: block;
}


.content2 {
    height: 56em;
    background-color:red;
    display: block;
}


/* .map {
    position:absolute;
    top: 9em;
    left: 1em;
    width: 48%;
    height: 50em;
    background-color:red;
}

.search-city-box {
    position:absolute;
    top: 9em;
    right: 4em;
    width: 40%;
    height: 20em;
    background-color:red;
}

.new-box {
    position:absolute;
    top: 9em;
    right: 4em;
    width: 40%;
    height: 28em;
    background-color:red;
} */


/* //////////////////////////////////////////////////////////////////////////////////// */



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */






/* //////////////////////////////////////////////////// For SmartPhone ///////////////////////////////////////////////////////////////////// */

@keyframes fadeIn {
    from { opacity:0;}
    to { opacity:1;}
}

@media (max-width:739px) {
    .sidebar {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: auto;
        right: 0px;
        width: 300px;
        height: 100%;
        display: block;
        z-index: 999;
        background-color:#fff;
        transform: translateX(100%);
        transition: transform linear 0.2s;
    }


    .content2 {
        display: none;
    }

    .content1 {
        height:38em;
    }

    .navbar-bottom {
        display: block;
        z-index: 999;
    }

    .user-box {
       position: absolute;
       top: 1em;
       left: 1em;
    }

    .main {
        width:100%;
        height:calc(100% - 60px);
        top: 50px;
        left: 0;
    }

    .case-overview2 {
        display: none;
    }

    .case-overview1 {
        height: 5em;
    }
    
    .case-overview2 {
        height: 5em;
    }
    
    .case-overview-section {
        height: 5em;
        background-color:blue;
    }

    .navbar-bottom-section{
        height: 5em;
        text-align: center;
        color: #fff;
    }

    .user-box {
        width: 100px;
        right:35%;
    }

    .notification-box {
        right: 10px;
    
    }

    .chatbot-box {
        right: 60px;
        
    }

    .header-nav {
        width:100%;
        height: 50px;
        left: 0;
    }


    .navbar-bottom-icon {
   
        display: block;
    }

    .header-noti {
  
        display: block;
    }

    .header-chatbot {
      
        display: block;
    }

    .brand {
        top: 0;
        left: 9.375em;
        height: 50px;
    }

   


}





/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */