body {
    margin: 0;
    background-color:#dfdfdf;
}

* {
    box-sizing: border-box;
}

.main {
    position: fixed;
    width: calc(100% - 300px);
    height: 100%;
    background-color: #ffffff;
    top: 60px;
    left: 18.75em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    z-index: 99;
    display:none;
    animation:fadeIn linear 0.2; 
}

.navbar-bottom-icon {
    position: relative;
    width: 30px;
    height: 30px;
    color: #2e2c2c;
    top: 1em;
    left: 2.7em;
    display: none;
    cursor: pointer;
}

.navbar-bottom-background {
    background-color: #ffffff !important;
}

.header-noti {
    position: absolute;
    width: 18px;
    height: 18px;
    color: #2e2c2c;   
    top: 0.5em;
    left: 0.7em;
    display: none;
}

.header-chatbot {
    position: absolute;
    width: 24px;
    height: 24px;
    color: #2e2c2c;   
    top: 0.5em;
    left: 0.5em;
    display: none;
}

.sidebar-close {
    position: absolute;
    width: 20px;
    height: 20px;
    color: #2e2c2c;   
    top: 1em;
    right: 0.6em;
    cursor: pointer;
}

.navbar-status-home {
    position: relative;
    top: 0;
    left: 5px;
    width: 160px;
    height: 2px;
    background-color: #2261df;
    display: none;
}

.navbar-status-search {
    position: relative;
    top: 0;
    left: 5px;
    width: 160px;
    height: 2px;
    background-color: #2261df;
    display: none;
}

.navbar-status-menu {
    position: relative;
    top: 0;
    left: 5px;
    width: 100px;
    height: 2px;
    background-color: #2261df;
    display: none;

}

.navbar-status-home {
    position: relative;
    top: 0;
    left: 5px;
    width: 100px;
    height: 2px;
    background-color: #2261df;
    display: none;

}

.navbar-status-search {
    position: relative;
    top: 0;
    left: 5px;
    width: 100px;
    height: 2px;
    background-color: #2261df;
    display: none;

}

.sidebar__list {
    margin-top: 24px;
}

.sidebar__link {
    text-decoration :none;
    color: #333;
    display: block;
    padding: 8px 0;
    font: size 1.3em;
    font-weight: bold;
    position: relative;
    left: 1em;
}

.sidebar__link-2 {
    text-decoration :none;
    color: #333;
    display: block;
    padding: 8px 0;
    font: size 1.3em;
    position: relative;
    left: 1em;
    left: 2em;
}

.sidebar-item {
    position: relative;
    left: 1em;
    width: 220px;
    border-radius: 10px;
}

.sidebar-item:hover {
    background-color:#d8d8d8;
}

.menu-checkbox {
    display:none;
}

.search-checkbox {
    display:none;
}

.home-checkbox {
    display:none;
}

.case-overview-sec {
    height:4.5em;
    background-color: white;
}

.vietnam-flag {
    position: absolute;
    left: -5px;
    top: 1.6em;
}

.vietnam-label {
    position: absolute;
    font-size: 0.8em;
    left: 50px;
    top: 2.5em;
    font-weight: bold;
}

.border-right {
    position: relative;
    top: 0.5em;
    left: 6.5em;
    width: 1px;
    height: 80%;
    border-right: 1px solid rgb(182, 182, 182);
}

.border-2 {
    top: -2em;
}

.case-overview-label {
    display: inline;
    position: relative;
    font-size: 0.8em;
    top: 1.5em;
    left: 1em;
    font-weight: bold;
    z-index: 1;
}

.case-overview-value {
    display: inline;
    position: relative;
    font-size: 0.8em;
    top: 1.5em;
    left: 1em;
}

.value-2 {
    position: relative;
    top:1.5em;
    left: 1em;
}

.search-box {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    font-size: 14px;
    padding: 12px 20px 12px 40px;
    margin-bottom: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:1px;
    border-style: solid;
    border-color: #979797;
    background-color: #ebebeb;
  }

  .search-icon {
      position: absolute;
      top: 17px;
      left: 15px;
      width: 50px;
      height: 50px;
      z-index: 10;
  }


/* //////////////////////////////////////////////////////////////////////// For PC /////////////////////////////////////////////////////////////////////////////////// */


/* ////////////////////////////////// header ////////////////////////////////// */
.header-nav {
    position: fixed;
    background-color:#ffffff;
    top: 0;
    left: 300px;
    height: 60px;
    width: calc(100% - 300px);
}

.user-box {
    position: fixed;
    width: 150px;
    height: 40px;
    background-color: transparent;
    right:20px;

}

.user-name {
    position: relative;
    top: -2em;
    left: 3em;
    font-weight: bold;
}

.notification-box {
    position :fixed;
    width: 40px;
    height:40px;
    top: 0.4em;
    background-color:transparent;
    right: 200px;
    cursor: pointer;
    
}

.chatbot-box {
    position :fixed;
    width: 40px;
    height:40px;
    top: 0.4em;
    background-color:transparent;
    right: 270px;
    cursor: pointer;
}


/* /////////////////////////////////////////////////////////////////////////////////// */


/* ///////////////////////////////// sidebar //////////////////////////////////// */

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 18.75em;
    background-color: #353a44 ;
    display: block;
}

.brand {
    position: absolute;
    width: 200px;
    height: 60px;
    top: 0;
    left: 0;
    background-color:transparent;
    z-index: 999;
}

.brand-image {
    position: absolute;
    left: 25px;
}

.navbar-bottom {
    position: fixed;
    bottom: 0px;
    left: 0;
    height: 5em;
    width: 100%;
    background-color: #ffffff ;
    display: none;
}

.sidebar-content {
    position: absolute;
    top: 60px;
    left: 0;
}


/* //////////////////////////////////////////////////////////////////////////////////// */


/* ///////////////////////////////// main //////////////////////////////////// */


.case-overview {
    padding-top: 0.25em;
    height: 7em;
    background-clip: content-box;
}


.case-overview-sections {
    height: 7em;
    background-clip: content-box;
    background-color:transparent;
}

.content1 {
    padding-top: 0em;
    background-clip: content-box;
    height: 56em;
    background-color:transparent;
    display: block;
    z-index: 1;
}


.content2 {
    position:absolute;
    top:0.25em;
    left: 0;
    width: 100%;
    height: 56em;
    background-color:white;
    display: block;
    z-index: 100;
}

.p-value {
    position: relative;
    left: 100px;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
  }


/* .map {
    position:absolute;
    top: 9em;
    left: 1em;
    width: 48%;
    height: 50em;
    background-color:red;
}

.search-city-box {
    position:absolute;
    top: 9em;
    right: 4em;
    width: 40%;
    height: 20em;
    background-color:red;
}

.new-box {
    position:absolute;
    top: 9em;
    right: 4em;
    width: 40%;
    height: 28em;
    background-color:red;
} */


/* //////////////////////////////////////////////////////////////////////////////////// */



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */






/* //////////////////////////////////////////////////// For SmartPhone ///////////////////////////////////////////////////////////////////// */

@keyframes fadeIn {
    from { opacity:0;}
    to { opacity:1;}
}

@media (max-width:739px) {
    .sidebar {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: auto;
        right: 0px;
        width: 250px;
        height: 100%;
        display: block;
        z-index: 999;
        background-color:#fff;
        transform: translateX(100%);
        transition: transform linear 0.2s;
    }


    .content2 {
        display: none;
        width: 100%;
        height: calc(100% - 70px);
    }

    .content2-display {
        display: block;
    }

    .content1 {
        height:38em;
    }

    .navbar-bottom {
        display: block;
        z-index: 999;
    }

    .user-box {
       position: absolute;
       top: 1em;
       left: 1em;
    }

    .main {
        width:100%;
        height:calc(100% - 60px);
        top: 50px;
        left: 0;
    }

  

    .case-overview {
        height: 5em;
    }
    

    .case-overview-sections {
        height: 4.5em;
        background-color:white;
        
    }

    .navbar-bottom-section{
        height: 5em;
        text-align: center;
        color: #fff;
    }

    .user-box {
        width: 100px;
        right:35%;
    }

    .notification-box {
        right: 10px;
    
    }

    .chatbot-box {
        right: 60px;
        
    }

    .header-nav {
        width:100%;
        height: 50px;
        left: 0;
    }


    .navbar-bottom-icon {
   
        display: block;
    }

    .header-noti {
  
        display: block;
    }

    .header-chatbot {
      
        display: block;
    }

    .brand {
        position: fixed;
        top: 0;
        left: 8.5em;
        height: 50px;
    }

   


}





/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */